/* background-color: #d8bf25; */

/* background-color: rgb 216,191,37 */

@font-face {
    font-family: "bowl";
    src: url(fonts/Bowlby_One_SC/BowlbyOneSC-Regular.ttf);
}

@font-face {
    font-family: "lex";
    src: url(fonts/Lexend_Deca/LexendDeca-Regular.ttf);
}

@font-face {
    font-family: "aplha";
    src: url(fonts/Alfa_Slab_One/AlfaSlabOne-Regular.ttf);
}

* {
    font-family: lex;
}

body {
    background-color: #0e0c0f !important;
}

.activeBtn {
    color: black !important;
}

.headerAnchors a:hover {
    text-decoration: none;
    color: crimson !important;
}

/* 
=====================================================================================================================================================================
=====================================================================================================================================================================
=====================================================================================================================================================================
=====================================================================================================================================================================
*/

@media (max-width: 374.98px) {
    .headerContainer {
        width: 105%;
        height: 50px;
        background-color: #d8bf25;
        ;
    }
    .headerAnchors a, .headerAnchors p {
        color: white;
        font-family: bowl;
        font-size: 12px;
    }
    .headerAnchors p {
        color: white;
        font-family: bowl;
        font-size: 14px;
    }
    /* About me section  */
    .aboutContainer img {
        src: url(images/ImageSm.png) !important;
    }
    .aboutTextContainer {
        color: white;
        margin: 8px 0px 0px 0px;
    }
    .aboutTextContainer h1 {
        font-size: x-large;
        font-family: bowl;
        color: #d8bf25;
    }
    .aboutTextContainer p {
        font-size: 10px;
    }
    .aboutTextContainer hr {
        background-color: #7a7a7a;
        width: 30%;
        margin: 0px 5px 5px 30px;
    }
    .nameContainer p.onlyA {
        font-size: 180px;
        position: absolute;
        top: 30px;
        color: rgba(163, 163, 163, 0.1);
        font-family: aplha;
        left: 180px;
    }
    div.statusContainer {
        background-color: rgb(216, 191, 37, 0.1);
        color: whitesmoke;
        position: absolute;
        top: 140px;
        border: 2px dashed rgb(216, 191, 37, 0.4);
        text-align: center;
        padding: 8px;
        font-size: 8px;
        left: 150px;
    }
    p.professionText {
        font-size: 8px;
    }
    p span.nameHeading {
        font-size: 10px;
        font-family: lex;
    }
    /* ================ */
}

/* 
=====================================================================================================================================================================
=====================================================================================================================================================================
=====================================================================================================================================================================
=====================================================================================================================================================================
*/

/* // Extra small devices (portrait phones, less than 576px) */

@media (min-width: 375px) and (max-width: 575.98px) {
    .headerContainer {
        height: 50px;
        background-color: #d8bf25;
        ;
    }
    .headerAnchors a, .headerAnchors p {
        color: white;
        font-family: bowl;
        font-size: 12px;
    }
    .headerAnchors p {
        color: white;
        font-family: bowl;
        font-size: 14px;
    }
    /* About me section  */
    .aboutContainer img {
        src: url(images/ImageSm.png) !important; 
    }
    .aboutTextContainer {
        color: white;
        margin: 8px 0px 0px 0px;
    }
    .aboutTextContainer h1 {
        font-size: x-large;
    }
    .aboutTextContainer p {
        font-size: 10px;
    }
    .nameContainer p.onlyA {
        font-size: 180px;
        position: absolute;
        top: 70px;
        color: rgba(163, 163, 163, 0.1);
        font-family: aplha;
        left: 250px;
    }
    div.statusContainer {
        background-color: rgb(216, 191, 37, 0.1);
        color: whitesmoke;
        position: absolute;
        top: 170px;
        border: 2px dashed rgb(216, 191, 37, 0.4);
        text-align: center;
        padding: 8px;
        font-size: 12px;
        left: 210px;
    }
    p.professionText {
        font-size: 10px;
    }
    p span.nameHeading {
        font-size: 12px;
        font-family: bowl;
    }
    /* ================ */
}

/* 
=====================================================================================================================================================================
=====================================================================================================================================================================
=====================================================================================================================================================================
=====================================================================================================================================================================
*/

/* // Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {
    .headerContainer {
        height: 70px;
        background-color: #d8bf25;
        ;
    }
    .headerAnchors a, .headerAnchors p {
        color: white;
        font-family: bowl;
        font-size: 16px;
    }
    .headerAnchors p {
        color: white;
        font-family: bowl;
        font-size: 20px;
    }
    /* About me section  */
    .aboutContainer img {
        position: absolute;
        top: 10px !important;
        left: 20px !important;
    }
    .aboutTextContainer {
        color: white;
        margin: 20px 45%;
    }
    .aboutTextContainer h1 {
        font-size: 30px;
    }
    .aboutTextContainer p {
        font-size: small;
    }
    /* ================ */
}

/* 
=====================================================================================================================================================================
=====================================================================================================================================================================
=====================================================================================================================================================================
=====================================================================================================================================================================
*/

/* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
    .headerContainer {
        height: 80px;
        background-color: #d8bf25;
        ;
    }
    .headerAnchors a, .headerAnchors p {
        color: white;
        font-family: bowl;
        font-size: 18px;
    }
    .headerAnchors p {
        color: white;
        font-family: bowl;
        font-size: 22px;
    }
    /* About me section  */
    .aboutContainer img {
        position: absolute;
        top: 10px !important;
        left: 50px !important;
    }
    .aboutTextContainer {
        color: white;
        margin: 20px 45%;
    }
    .aboutTextContainer h1 {
        font-size: 30px;
    }
    .aboutTextContainer p {
        font-size: small;
    }
    /* ================ */
}

/* 
=====================================================================================================================================================================
=====================================================================================================================================================================
=====================================================================================================================================================================
=====================================================================================================================================================================
*/

/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {
    .headerContainer {
        height: 90px;
        background-color: #d8bf25;
    }
    .headerAnchors a, .headerAnchors p {
        color: white;
        font-family: bowl;
        font-size: 18px;
    }
    .headerAnchors p {
        color: white;
        font-family: bowl;
        font-size: 22px;
    }
    /* About me section  */
    .aboutContainer img {
        position: absolute;
        top: 10px !important;
        left: 50px !important;
    }
    .aboutTextContainer {
        color: white;
        margin: 20px 40%;
    }
    /* ================ */
}

/* 
=====================================================================================================================================================================
=====================================================================================================================================================================
=====================================================================================================================================================================
=====================================================================================================================================================================
*/

/* // Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .headerContainer {
        height: 100px;
        background-color: #d8bf25;
    }
    .headerAnchors a, .headerAnchors p {
        color: white;
        font-family: bowl;
        font-size: 22px;
    }
    .headerAnchors p {
        color: white;
        font-family: bowl;
        font-size: 24px;
    }
    /* About me section  */
    .aboutContainer img {
        position: absolute;
        top: 10px !important;
        left: 50px !important;
    }
    .aboutTextContainer {
        color: white;
        margin: 20px 40%;
    }
    /* ================ */
}

/* 
=====================================================================================================================================================================
=====================================================================================================================================================================
=====================================================================================================================================================================
=====================================================================================================================================================================
*/