/* background-color: #d8bf25; */

@font-face {
    font-family: "bowl";
    src: url(fonts/Bowlby_One_SC/BowlbyOneSC-Regular.ttf);
}

@font-face {
    font-family: "lex";
    src: url(fonts/Lexend_Deca/LexendDeca-Regular.ttf);
}

@font-face {
    font-family: "aplha";
    src: url(fonts/Alfa_Slab_One/AlfaSlabOne-Regular.ttf);
}

* {
    font-family: lex;
}

body {
    background-color: #0e0c0f !important;
}

/* background-color: #d8bf25; */

.activeBtn {
    color: black !important;
}

.headerAnchors a:hover {
    text-decoration: none;
    color: crimson !important;
}

/* 
=====================================================================================================================================================================
*/

/* // Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
    .headerContainer {
        height: 50px;
        background-color: #d8bf25;
        ;
    }
    .headerAnchors a, .headerAnchors p {
        color: white;
        font-family: bowl;
        font-size: px;
    }
    .headerAnchors p {
        color: white;
        font-family: bowl;
        font-size: 20px;
    }
    .headerAnchors{
        text-align: right !important;
    }
}

/* // Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {}

/* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {}

/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {}

/* // Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}