@font-face {
    font-family: "bowl";
    src: url(fonts/Bowlby_One_SC/BowlbyOneSC-Regular.ttf);
}

@font-face {
    font-family: "lex";
    src: url(fonts/Lexend_Deca/LexendDeca-Regular.ttf);
}

@font-face {
    font-family: "aplha";
    src: url(fonts/Alfa_Slab_One/AlfaSlabOne-Regular.ttf);
}

* {
    font-family: lex;
}

body {
    background-color: #0e0c0f !important;
}

.container {
    margin: 0px !important;
}

.navButtons {
    position: relative;
    top: 50%;
    margin: auto auto;
    transform: translateY(-50%);
    ;
}

#header {
    height: 13vw;
    width: 100vw;
    background-color: #d8bf25;
}

.aboutMeBtn {
    color: black;
}

.navButtons a p:hover, .navButtons a {
    color: crimson !important;
    text-decoration: none !important;
}

/* Section About Styling */

/* ======================================================================== About */

/* ====================================================================================================*/

/* ====================================================================================================*/

/* Media Quries */

@media only screen and (max-width: 319.98px) {
    a p, .slash {
        color: whitesmoke;
        text-decoration: none;
        text-transform: uppercase;
        font-family: bowl;
        text-align: center;
        font-size: 12px !important;
    }
    .navButtons {
        margin-top: 8px;
        float: right;
        margin-right: 20px;
    }
    .imgCoverDiv img {
        width: 40vw;
        position: absolute;
        top: 6px;
        left: 15px;
    }
    .nameProfDiv {
        text-align: right;
        position: absolute;
        top: 12vh;
        left: 45vw;
        width: 50vw;
        color: white;
    }
    .nameText {
        text-align: center;
        font-size: small !important;
    }
    .container1 {
        width: 90vw;
        margin: 110px 10px;
    }
    .container1 p {
        color: wheat;
        font-size: xx-small !important;
        text-align: justify;
    }
    .headingAboutMeText {
        margin-left: 20px;
        /* transform: rotate(90deg); */
        font-size: large !important;
        color: #d8bf25;
        font-weight: bold;
    }
    .aText {
        color: rgb(219, 191, 40, 0);
    }
}

/* =================================================================================== down - 320px */

/* ====================================================================================================*/

/* ====================================================================================================*/

@media only screen and (min-width: 320px) and (max-width: 374.98px) {
    a p, .slash {
        color: whitesmoke;
        text-decoration: none;
        text-transform: uppercase;
        font-family: bowl;
        text-align: center;
        font-size: 12px !important;
    }
    .navButtons {
        margin-top: 8px;
        float: right;
        margin-right: 20px;
    }
    .imgCoverDiv img {
        width: 40vw;
        position: absolute;
        top: 6px;
        left: 15px;
    }
    .nameProfDiv {
        text-align: right;
        position: absolute;
        top: 12vh;
        left: 45vw;
        width: 50vw;
        color: white;
    }
    .nameText {
        text-align: center;
        font-size: small !important;
    }
    .container1 {
        width: 90vw;
        margin: 110px 10px;
    }
    .container1 p {
        color: wheat;
        font-size: xx-small !important;
        text-align: justify;
    }
    .headingAboutMeText {
        margin-left: 20px;
        /* transform: rotate(90deg); */
        font-size: large !important;
        color: #d8bf25;
        font-weight: bold;
    }
    .aText {
        color: rgb(219, 191, 40, 0);
    }
}

/* =================================================================================== 320 - 375px */

/* ====================================================================================================*/

/* ====================================================================================================*/

@media only screen and (min-width: 375px) and (max-width: 424.98px) {
    a p, .slash {
        color: whitesmoke;
        text-decoration: none;
        text-transform: uppercase;
        font-family: bowl;
        text-align: center;
        font-size: 12px !important;
    }
    .navButtons {
        margin-top: 8px;
        float: right;
        margin-right: 20px;
    }
    .imgCoverDiv img {
        width: 40vw;
        position: absolute;
        top: 6px;
        left: 15px;
    }
    .nameProfDiv {
        text-align: right;
        position: absolute;
        top: 15vh;
        left: 45vw;
        width: 50vw;
        color: white;
    }
    .nameText {
        font-size: smaller !important;
    }
    .container1 {
        width: 90vw;
        margin: 120px 10px;
    }
    .container1 p {
        color: wheat;
        font-size: xx-small !important;
        text-align: justify;
    }
    .headingAboutMeText {
        margin-left: 0px;
        /* transform: rotate(90deg); */
        font-size: large !important;
        color: #d8bf25;
        font-weight: bold;
    }
    .aText {
        color: rgb(219, 191, 40, 0);
    }
}

/* =================================================================================== 375 - 425px */

/* ====================================================================================================*/

/* ====================================================================================================*/

@media only screen and (min-width: 425px) and (max-width: 575.98px) {
    a p, .slash {
        color: whitesmoke;
        text-decoration: none;
        text-transform: uppercase;
        font-family: bowl;
        text-align: center;
        font-size: 16px !important;
    }
    .navButtons {
        margin-top: 8px;
        float: right;
        margin-right: 100px;
    }
    .imgCoverDiv img {
        width: 40vw;
        position: absolute;
        top: 6px;
        left: 15px;
    }
    .nameProfDiv {
        position: absolute;
        top: 40vh;
        left: 15px;
        background-color: rgb(219, 191, 40, 0.3);
        width: 40vw;
        color: white;
    }
    .nameText {
        font-size: smaller !important;
    }
    .container1 {
        position: absolute;
        top: -15vh;
        left: 45vw;
        width: 50vw;
        margin: 120px 10px;
    }
    .container1 p {
        color: wheat;
        font-size: xx-small !important;
        text-align: justify;
    }
    .headingAboutMeText {
        margin-left: 0px;
        /* transform: rotate(90deg); */
        font-size: large !important;
        color: #d8bf25;
        font-weight: bold;
    }
    .aText {
        color: rgb(219, 191, 40, 0);
    }
}

/* =================================================================================== 425 - 576px */

/* ====================================================================================================*/

/* ====================================================================================================*/

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
    a p, .slash {
        color: whitesmoke;
        text-decoration: none;
        text-transform: uppercase;
        font-family: bowl;
        text-align: center;
        font-size: 16px !important;
    }
    .navButtons {
        margin-top: 8px;
        float: right;
        margin-right: 100px;
    }
    .imgCoverDiv img {
        width: 40vw;
        position: absolute;
        top: 6px;
        left: 15px;
    }
    .nameProfDiv {
        position: absolute;
        top: 50vh;
        left: 30px;
        padding: 8px 8px;
        background-color: rgb(219, 191, 40, 0.3);
        width: fit-content;
        color: white;
    }
    .nameText {
        font-size: 12px !important;
    }
}

/* =================================================================================== 426 - 767px */

/* ====================================================================================================*/

/* ====================================================================================================*/

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    a p, .slash {
        color: whitesmoke;
        text-decoration: none;
        text-transform: uppercase;
        font-family: bowl;
        text-align: center;
        font-size: 20px !important;
    }
    .navButtons {
        margin-top: 8px;
        float: right;
        margin-right: 100px;
    }
    .imgCoverDiv img {
        width: 40vw;
        position: absolute;
        top: 6px;
        left: 15px;
    }
    .nameProfDiv {
        position: absolute;
        top: 65vh;
        left: 40px;
        padding: 8px;
        background-color: rgb(219, 191, 40, 0.3);
        width: fit-content;
        color: white;
    }
    .nameText {
        font-size: 12px !important;
    }
}

/* =================================================================================== 426 - 991px */

/* ====================================================================================================*/

/* ====================================================================================================*/

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    a p, .slash {
        color: whitesmoke;
        text-decoration: none;
        text-transform: uppercase;
        font-family: bowl;
        text-align: center;
        font-size: 22px !important;
    }
    .navButtons {
        margin-top: 8px;
        float: right;
        margin-right: 400px;
    }
    .imgCoverDiv img {
        width: 25vw;
        position: absolute;
        top: 6px;
        left: 40px;
    }
    .nameProfDiv {
        position: absolute;
        top: 50vh;
        left: 90px;
        padding: 8px;
        background-color: rgb(219, 191, 40, 0.3);
        width: fit-content;
        color: white;
    }
    .nameText {
        font-size: 12px !important;
    }
}

/* =================================================================================== 992-1200px */

/* ====================================================================================================*/

/* ====================================================================================================*/

@media only screen and (min-width: 1200px) and (max-width: 1399.98px) {
    a p, .slash {
        color: whitesmoke;
        text-decoration: none;
        text-transform: uppercase;
        font-family: bowl;
        text-align: center;
        font-size: 24px !important;
    }
    .navButtons {
        margin-top: 8px;
        float: right;
        margin-right: 400px;
    }
    .imgCoverDiv img {
        width: 25vw;
        position: absolute;
        top: 6px;
        left: 45px;
    }
    .nameProfDiv {
        position: absolute;
        top: 60vh;
        left: 100px;
        padding: 8px;
        background-color: rgb(219, 191, 40, 0.3);
        width: fit-content;
        color: white;
    }
    .nameText {
        font-size: 12px !important;
    }
}

/* =================================================================================== 1200-1399px */

/* ====================================================================================================*/

/* ====================================================================================================*/

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
    a p, .slash {
        color: whitesmoke;
        text-decoration: none;
        text-transform: uppercase;
        font-family: bowl;
        text-align: center;
        font-size: 28px !important;
    }
    .navButtons {
        margin-top: 8px;
        float: right;
        margin-right: 400px;
    }
    .imgCoverDiv img {
        width: 25vw;
        position: absolute;
        top: 6px;
        left: 50px;
    }
    .nameProfDiv {
        position: absolute;
        top: 70vh;
        left: 110px;
        padding: 8px;
        background-color: rgb(219, 191, 40, 0.3);
        width: fit-content;
        color: white;
    }
    .nameText {
        font-size: 14px !important;
    }
}

/* =================================================================================== 1400-1600px */

/* ====================================================================================================*/

/* ====================================================================================================*/